<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_logo_petcoloria"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_logo_petcoloria"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetColoria_Project_"
        tools:targetApi="31">
        <activity
            android:name="com.android.usecases.menu.activities.act_doctor_info"
            android:exported="false"/>
        <activity
            android:name="com.android.usecases.menu.activities.act_pet_info"
            android:exported="false"/>
        <activity
            android:name="com.android.usecases.home.addpet.act_addpet"
            android:exported="false" />
        <activity
            android:name="com.android.usecases.menu.activities.act_doctor_menu"
            android:exported="false" />
        <activity
            android:name="com.android.usecases.menu.activities.act_customer_menu"
            android:exported="false" />
        <activity
            android:name="com.android.usecases.home.register.regis.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.android.usecases.home.login.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.android.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.android.usecases.launch.splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>